form.input-box {
  background: rgba(0, 0, 0, 0);
  outline: none;
  font-family: "Roboto", sans-serif;
  line-height: 12px;
  box-sizing: border-box;
  width: 190px;
  border: none;
  /*border: .1px solid #fDD156;*/
  color: #f8f5f1;
  font-size: 30px;
}

.location {
  background: rgba(0, 0, 0, 0);
  outline: none;
  box-sizing: border-box;
  line-height: 12px;
  border: none;
  /*border: .1px solid #fDD156;*/
  color: #ffff;
  text-shadow: 0.1vw 0vw 0.25vw #dfd0eb, 0.2vw 0vw 0.25vw #a117f2,
    0.4vw 0vw 0.25vw #a117f2, 0.1vw 0vw 0vw #a117f2, 0.2vw 0vw 0vw #a117f2,
    0.4vw 0vw 0vw #a117f2, 0.1vw 0vw 0.1vw #a117f2, 0.2vw 0vw 0.1vw #a117f2,
    0.4vw 0vw 0.1vw #a117f2, 0.1vw 0vw 2vw #a117f2, 0.2vw 0vw 2vw #a117f2,
    0.4vw 0vw 2vw #a117f2, 0.1vw 0vw 1vw #a117f2, 0.2vw 0vw 1vw #a117f2,
    0.4vw 0vw 5vw #a117f2, 0.1vw 0vw 5vw #a117f2, 0.2vw 0vw 20vw #a117f2,
    0.4vw 0vw 10vw #a117f2, 0.1vw 0vw 10vw #a117f2, 0.2vw 0vw 30vw #a117f2,
    0.4vw 0vw 10vw #a117f2;
  cursor: pointer;
}

.fa-map-marker-alt {
  font-size: 25px;
  color: #ffff;
}

.search-box {
  background: rgba(0, 0, 0, 0);
  outline: none;
  font-family: Learning-Curve;
  font-size: 38px;
  line-height: 19px;
  border-radius: 4px;
  border: none;
  color: #ffff;
  text-shadow: 0.1vw 0vw 0.25vw #dfd0eb, 0.2vw 0vw 0.25vw #a117f2,
    0.4vw 0vw 0.25vw #a117f2, 0.1vw 0vw 0vw #a117f2, 0.2vw 0vw 0vw #a117f2,
    0.4vw 0vw 0vw #a117f2, 0.1vw 0vw 0.1vw #a117f2, 0.2vw 0vw 0.1vw #a117f2,
    0.4vw 0vw 0.1vw #a117f2, 0.1vw 0vw 2vw #a117f2, 0.2vw 0vw 2vw #a117f2,
    0.4vw 0vw 2vw #a117f2, 0.1vw 0vw 1vw #a117f2, 0.2vw 0vw 1vw #a117f2,
    0.4vw 0vw 5vw #a117f2, 0.1vw 0vw 5vw #a117f2, 0.2vw 0vw 20vw #a117f2,
    0.4vw 0vw 10vw #a117f2, 0.1vw 0vw 10vw #a117f2, 0.2vw 0vw 30vw #a117f2,
    0.4vw 0vw 10vw #a117f2;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffff;
  font-size: 38px;
  font-family: Learning-Curve;
  text-shadow: 0.1vw 0vw 0.25vw #dfd0eb, 0.2vw 0vw 0.25vw #a117f2,
    0.4vw 0vw 0.25vw #a117f2, 0.1vw 0vw 0vw #a117f2, 0.2vw 0vw 0vw #a117f2,
    0.4vw 0vw 0vw #a117f2, 0.1vw 0vw 0.1vw #a117f2, 0.2vw 0vw 0.1vw #a117f2,
    0.4vw 0vw 0.1vw #a117f2, 0.1vw 0vw 2vw #a117f2, 0.2vw 0vw 2vw #a117f2,
    0.4vw 0vw 2vw #a117f2, 0.1vw 0vw 1vw #a117f2, 0.2vw 0vw 1vw #a117f2,
    0.4vw 0vw 5vw #a117f2, 0.1vw 0vw 5vw #a117f2, 0.2vw 0vw 20vw #a117f2,
    0.4vw 0vw 10vw #a117f2, 0.1vw 0vw 10vw #a117f2, 0.2vw 0vw 30vw #a117f2,
    0.4vw 0vw 10vw #a117f2;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffff;
  font-size: 38px;
  font-family: Learning-Curve;
  text-shadow: 0.1vw 0vw 0.25vw #dfd0eb, 0.2vw 0vw 0.25vw #a117f2,
    0.4vw 0vw 0.25vw #a117f2, 0.1vw 0vw 0vw #a117f2, 0.2vw 0vw 0vw #a117f2,
    0.4vw 0vw 0vw #a117f2, 0.1vw 0vw 0.1vw #a117f2, 0.2vw 0vw 0.1vw #a117f2,
    0.4vw 0vw 0.1vw #a117f2, 0.1vw 0vw 2vw #a117f2, 0.2vw 0vw 2vw #a117f2,
    0.4vw 0vw 2vw #a117f2, 0.1vw 0vw 1vw #a117f2, 0.2vw 0vw 1vw #a117f2,
    0.4vw 0vw 5vw #a117f2, 0.1vw 0vw 5vw #a117f2, 0.2vw 0vw 20vw #a117f2,
    0.4vw 0vw 10vw #a117f2, 0.1vw 0vw 10vw #a117f2, 0.2vw 0vw 30vw #a117f2,
    0.4vw 0vw 10vw #a117f2;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffff;
  font-size: 38px;
  font-family: Learning-Curve;
  text-shadow: 0.1vw 0vw 0.25vw #dfd0eb, 0.2vw 0vw 0.25vw #a117f2,
    0.4vw 0vw 0.25vw #a117f2, 0.1vw 0vw 0vw #a117f2, 0.2vw 0vw 0vw #a117f2,
    0.4vw 0vw 0vw #a117f2, 0.1vw 0vw 0.1vw #a117f2, 0.2vw 0vw 0.1vw #a117f2,
    0.4vw 0vw 0.1vw #a117f2, 0.1vw 0vw 2vw #a117f2, 0.2vw 0vw 2vw #a117f2,
    0.4vw 0vw 2vw #a117f2, 0.1vw 0vw 1vw #a117f2, 0.2vw 0vw 1vw #a117f2,
    0.4vw 0vw 5vw #a117f2, 0.1vw 0vw 5vw #a117f2, 0.2vw 0vw 20vw #a117f2,
    0.4vw 0vw 10vw #a117f2, 0.1vw 0vw 10vw #a117f2, 0.2vw 0vw 30vw #a117f2,
    0.4vw 0vw 10vw #a117f2;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffff;
  font-size: 38px;
  font-family: Learning-Curve;
  text-shadow: 0.1vw 0vw 0.25vw #dfd0eb, 0.2vw 0vw 0.25vw #a117f2,
    0.4vw 0vw 0.25vw #a117f2, 0.1vw 0vw 0vw #a117f2, 0.2vw 0vw 0vw #a117f2,
    0.4vw 0vw 0vw #a117f2, 0.1vw 0vw 0.1vw #a117f2, 0.2vw 0vw 0.1vw #a117f2,
    0.4vw 0vw 0.1vw #a117f2, 0.1vw 0vw 2vw #a117f2, 0.2vw 0vw 2vw #a117f2,
    0.4vw 0vw 2vw #a117f2, 0.1vw 0vw 1vw #a117f2, 0.2vw 0vw 1vw #a117f2,
    0.4vw 0vw 5vw #a117f2, 0.1vw 0vw 5vw #a117f2, 0.2vw 0vw 20vw #a117f2,
    0.4vw 0vw 10vw #a117f2, 0.1vw 0vw 10vw #a117f2, 0.2vw 0vw 30vw #a117f2,
    0.4vw 0vw 10vw #a117f2;
}
